<div class="sidebar">
  <div class="channel-container">
    <p>Kanal 1</p>
    <p>Kanal 2</p>
  </div>
  <div class="private-msg-container">
    <p>Peter</p>
    <p>Anna</p>
  </div>

  <div class="online-container">
    <p>Pär</p>
    <p>Axel</p>
    <p>Lisa</p>
  </div>
</div>
