<div class="sidebar">
  <div class="channel-container">
    Public channels <% for (channel of channels) { %>
    <p><a href="/chat/<%= channel._id %>"><%= channel.channelname %></a></p>
    <%} %>
  </div>
  <div class="private-msg-container">
    Private channels 
    <% for (channel of privateChannels) { %>
      <p><a href="/chat/<%= channel._id %>"><%= channel.channelname %></a></p>
      <%} %>
  </div>

  <div id="online-container">
    Online users
  </div>
</div>
