<div class="sidebar">
  <div class="channel-container">
    Channels <% for (channel of publicChannels) { %>
    <p><%= channel.channelName %></p>
    <%} %>
    <p>Kanal 1</p>
    <p>Kanal 2</p>
  </div>
  <div class="private-msg-container">
    Private messages
    <p>Peter</p>
    <p>Anna</p>
  </div>

  <div class="online-container">
    Online users
    <p>Pär</p>
    <p>Axel</p>
    <p>Lisa</p>
  </div>
</div>
