.sidebar {
  border: 1px solid green;
  margin-right: 20px;
  padding: 20px;

  div {
    border: solid 1px;
    padding: 10px;
    margin-bottom: 10px;
  }
}

.container {
  display: flex;
  align-items: flex-start;
}
